@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, #5ac5c0, #082428);
}

section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#relogio{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#relogio div{
    background-color: #160F29;
    border-radius: 10px;
    width: 190px;
    height: 180px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#relogio div span:last-child{
    text-align: center;
    font-size: 0.9em;
    color: white;
    padding: 5px;
    letter-spacing: 1.5px;
}

span.valor{
    font-size: 4.5em;
    text-align: center;
    color: white;
}

footer{
    height: 20vh;
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 2px black;
}